.form-submit-button {
  width: 120px;
  height: 40px;
  margin: auto;
  border: none;
  outline: none;
  background-color: #c5ffc1;
  transition: .5s;

  font-size: 15px;
  font-weight: 200;
  font-family: Prompt, cursive;

  &:hover, &:focus {
    color: white;
    box-shadow: 0 0 0 20px #1e501e inset;
  }
}
